.regiscol1{
    --background: #c7daff;
    --color: black;
    }

.regiscol2{
    --background: rgb(65, 103, 186);
    --color: white;
    }

.regiscol3{
    --background: #ca0043;
    --color: white;
    }

h4 {
    text-align: center;
    }