<form (ngSubmit)="register()">
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" name="email" [(ngModel)]="email" placeholder="Ingrese email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" name="password" [(ngModel)]="password" placeholder="Ingrese contraseña"></ion-input>
  </ion-item>

  <br>
  <br>

  <ion-button class="regiscol2" type="submit" shape="round" expand="full">Registrar</ion-button>
</form>