.new-background-color{
    --background: #4168bb;
    }

.new-background-color2{
    --background: #1d459b;
    }

.regiscol2{
    --background: #295dc7;
    --color: white;
    }

.autoimg {
    height: 500px;
    }

//-------------------------------------------------------------------------

h2 {
    text-align: center;
    }

h3 {
    color: white;
    }