<!-- MENÚ -->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar class="new-background-color2">
      <ion-title><h3><b>Menu</b></h3></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    
    <ion-item>
      <ion-label>
        <ion-button fill="clear" expand="full" routerLink="/inicio"><b>Inicio </b>
          <ion-icon slot="end" name="home"></ion-icon>
        </ion-button>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-button [disabled]="true" fill="clear" expand="full" routerLink="/tienda"><b>Tienda </b>
          <ion-icon slot="end" name="pricetags"></ion-icon>
        </ion-button>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label>
        <ion-button fill="clear" expand="full" routerLink="/servicio"><b>Contacto </b>
          <ion-icon slot="end" name="call"></ion-icon>
        </ion-button>
      </ion-label>
    </ion-item>

  </ion-content>
</ion-menu>

<!-- HEADER -->
<div class="ion-page" id="main-content">

  <ion-header [translucent]="true">
    <ion-toolbar class="new-background-color">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button (click)="logout()">Logout</ion-button>
      </ion-buttons>

      <ion-title><h3><b>Automoviles Inc.</b></h3></ion-title>
    </ion-toolbar>
  </ion-header>

<!-- CONTENIDO -->
<ion-content>
  <ion-card *ngFor="let car of cars">
    <img [src]="car.imageUrl" alt="{{ car.make }} {{ car.model }}">
    <ion-card-header>
      <ion-card-title>{{ car.make }} {{ car.model }}</ion-card-title>
      <ion-card-subtitle>{{ car.year }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Precio: ${{ car.price }}</p>
      <ion-button (click)="viewCarDetails(car)" expand="full">Ver Detalles</ion-button>
      <ion-button (click)="buyCar(car)" expand="full">Comprar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content></div>

<!-- FIN -->