<!-- MENÚ -->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar class="new-background-color2">
      <ion-title><h3><b>Menu</b></h3></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    
    <ion-button [disabled]="true" class="regiscol2" shape="round" routerLink="/inicio">Inicio</ion-button>
    <ion-button class="regiscol2" shape="round" routerLink="/tienda">Tienda</ion-button>
    <!-- buscar como hacer hide y disable en ionic, para esconder botones y que no se usen-->

  </ion-content>
</ion-menu>

<!-- HEADER -->
<div class="ion-page" id="main-content">

  <ion-header [translucent]="true">
    <ion-toolbar class="new-background-color">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button (click)="logout()">Logout</ion-button>
      </ion-buttons>

      <ion-title><h3><b>Automoviles Inc.</b></h3></ion-title>
    </ion-toolbar>
  </ion-header>

<!-- CONTENIDO -->
<ion-content padding class="bgcol" [fullscreen]="true" class="root">

  <h2><b>✨ Autos destacados de hoy ✨</b></h2>
  <swiper-container pager="true"
    (slidechange)="swiperSlideChanged($event)"
    [loop]="true"
    [pagination]="true">
    
    <swiper-slide><ion-img src="assets/img/rojo.jpg"></ion-img></swiper-slide>

    <swiper-slide><ion-img src="assets/img/RT_V_05a99b23df054e0eb2c93b3885eaa13e.jpg"></ion-img></swiper-slide>

    <swiper-slide><ion-img class="autoimg" src="assets/img/white.jpg"></ion-img></swiper-slide>

  </swiper-container>
  
</ion-content></div>
<!-- FIN -->