.new-background-color{
    --background: #4168bb;
    }

.new-background-color2{
    --background: #1d459b;
    }

.regiscol2{
    --background: #295dc7;
    --color: white;
    }

.autoimg {
    height: 500px;
    }

//-------------------------------------------------------------------------

h2 {
    text-align: center;
    }

h3 {
    color: white;
    }

ion-icon {
    color: white
    }
  
ion-buttons {
    color: white
    }
/* 
ion-card {
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
ion-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    }
  
ion-card-title {
    font-size: 1.2em;
    font-weight: bold;
    }
    
ion-card-content p {
    font-size: 1em;
    margin: 5px 0;
    }

swiper-container {
    width: 80%;
    height: 40%;
    }
      
swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
*/