<form (ngSubmit)="login()">
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" name="email" [(ngModel)]="email" placeholder="Ingrese email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" name="password" [(ngModel)]="password" placeholder="Ingrese contraseña"></ion-input>
  </ion-item>

  <br>

  <ion-button class="regiscol2" type="submit" shape="round" expand="full">Login</ion-button>
</form>

<br>

<h4>¿No tienes una cuenta?</h4>
<ion-button style="font-size: large;" fill="clear" expand="full" routerLink="/registro-user">Registrate</ion-button>

<br>

<!-- <ion-button class="regiscol1" shape="round" (click)="register()" expand="full">Registrar</ion-button> -->